
.ico-page {

  .progress-bar {
    background-image: none;
  }

  #msform {
    max-width: 700px;
  }

  .term-condition {
    text-align: left;
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    background-color: white !important;
    border: 1px solid gray;
    border-radius: 5px;
    overflow: auto;
  }

  tr.strike td {
    text-decoration: line-through;
  }

  .userfullname {
    font-weight: bold;
    font-size: 22px;
  }

  @media screen and (max-width: 480px) {
    .progress-bar {
      font-size: 0px;
    }
  }
  .copied {
    display: none;
    position: absolute;
    top: 38px;
    left: -26px;
    padding: 10px;
    background: rgba(50, 50, 50, 0.8);
    margin-left: 30px;
    color: #fff;
    font-size: 13px;
  }
}