small, .nav a{
	text-transform: uppercase;
}
a{
	cursor: pointer;
}
.setting-advance-wallet .singer .table-signer tr td table.table tr {
	td.add-signer{
		text-align: right;
		a{
			float: none;
		}
	}
}