$accent_color: seagreen;
$mobile_color: #009688;
$milestone_color: #FF851B;
$home_header_color: #101010;
$headerHeight: 80px; /* this is the height of homepage's header*/

$navbar_height: 60px;
$footer_height: 30px;
$sidebar_width: 280px;
$sidediv_width: 350px;
$sidediv_left_header_height: 110px;
$linechart_height: 400px;

$danger-color: #d9534f;