<div id="changePassowrd" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">&times;</button>
                <h3 class="modal-title bold-text">{{'change_password' | t}}</h3>
            </div>
            <div class="modal-body">
                <div class="warning-message">
                    <div class="header uppercase">{{'warning_header' | t}}</div>
                    <div class="content">{{'change_password_note' | t}}</div>
                </div>
                <form [formGroup]="formChangePassword">
                    <app-alert-messages messages_alert="{{msg_alert}}" type="{{type_alert}}" (valueChange)="msg_alert = $event"></app-alert-messages>
                    <fieldset ng-disabled="processing">
                        <app-input
                            form_control_name="password"
                            type="password" title="{{'password_' | t}}"
                            [form]="formChangePassword"
                        >
                        </app-input>
                        <div class="form-group has-feedback margin-top-15px">
                            <label>{{'new_password' | t}}</label>
                            <input class="form-control" type="password" formControlName="newPassword" />
                            <span class="form-control-feedback glyphicon glyphicon-remove color-danger" *ngIf="formChangePassword.get('newPassword').invalid"></span>
                            <span class="form-control-feedback glyphicon glyphicon-ok font-success" *ngIf="!formChangePassword.get('newPassword').invalid"></span>
                            <div class="progress progress-volume" *ngIf="formChangePassword.get('newPassword').invalid && formChangePassword.get('newPassword').value" >
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" 
                                aria-valuemin="0" aria-valuemax="100"
                                [ngStyle]="{'width.%': formChangePassword.value.newPassword?.length * 10 * 1.6}"
                                >{{formChangePassword.value.newPassword?.length * 10 * 1.6}}%</div>
                            </div>
                        </div>
                        <app-input
                            form_control_name="repeatNewPassword"
                            type="password" title="{{'repeat_new_password' | t}}"
                            [form]="formChangePassword"
                        >
                        </app-input>
                        
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary action" *ngIf="!processing" type="button" (click)="onSubmit()" [disabled]="formChangePassword.invalid">{{'change_' | t}}</button>
                <div class="text-center" *ngIf="processing">
                    <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
                </div>
            </div>
        </div>
    </div>
</div>