<div id="setOptionWallet" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div>
                <div class="card" style="margin:0;">
                    <div class="toolbar">
                        <div class="toolbar-tools">
                            <h2>
                                <i class="fa fa-bars"></i>
                                <span>{{'setup_wallet' | t}}</span>
                            </h2>
                        </div>
                    </div>
                    <div class="md-no-padding">
                        <div class="steppers">
                            <ul id="progressbar">
                                <li [class]="stepData[0].active ? 'active' : ''">{{'choose_wallet_type' | t}}</li>
                                <li [class]="stepData[1].active ? 'active' : ''">{{'generate_keypairs' | t}}</li>
                                <li [class]="stepData[2].active ? 'active' : ''">{{'finish_' | t}}</li>
                            </ul>
                            <div class="step-content .step-active" *ngIf="stepData[0].process">
                                <div>
                                    <form name="step1" >
                                        <div class="md-padding md-content">
                                            <div class="layout-align-center-stretch layout-row">
                                                <div style="width: 400px;" class="flex-nogrow">
                                                    <h4>{{'select_a_wallet_' | t}}</h4>
                                                    <div class="md-block md-input-container">
                                                        <div *ngIf="wallets && wallets.length">
                                                            <h5>Wallet:</h5>
                                                            <select class="form-control margin-bottom-15px" [(ngModel)]="stepData[0].data.selectedWallet" name="selectedWallet-step1"*ngIf="!waitResponse" style="border-color: seagreen; display: block !important;">
                                                                <option *ngFor="let wallet of unMutisignWallets" [value]="wallet.address" [disabled]="(wallet.balances && wallet.balances[wallet.balances.length - 1].balance < 21) || !wallet.active || wallet.blocked || wallet.extraFlags === 1">{{wallet.name}} - {{setWalletType(wallet)}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="md-block md-input-container">
                                                        <!-- <div class="radio">
                                                            <input type="radio" name="checked_wallet"class="md-primary md-radio-button radio-hot" value="1" [(ngModel)]="stepData[0].data.walletType" />Hot wallet
                                                        </div> -->
                                                        <div class="radio">
                                                            <input type="radio" name="checked_wallet" class="radio-cold md-radio-button" [value]="2" [(ngModel)]="stepData[0].data.walletType"/>{{'cold_wallet' | t}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layout-row">
                                            <div class="layout-align-end-stretch layout-row flex">
                                                <button class="md-warn md-button md-ink-ripple upperCase" (click)="cancel()">{{'cancel_' | t}}</button>
                                                <button (click)="nextStep()" class="md-primary md-raised md-button md-ink-ripple upperCase" type="submit" [disabled]="stepData[0].data.selectedWallet ? false : true">{{'next_' | t}}</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="step-content .step-active" *ngIf="stepData[1].process">
                                <div>
                                    <form name="step2">
                                        <div class="md-padding md-content">
                                            <div class="layout-align-center-stretch layout-row">
                                                <div class="flex-nogrow" style="width: 400px;">
                                                    <h4 *ngIf="!isGen">{{'generate_and_save_keypairs_or_import_keys' | t}}</h4>
                                                     <h4 *ngIf="isGen" style="color:red">{{'backup_keypairs_warning' | t}}</h4>
                                                    <div class="md-block">
                                                        <p>{{'keypair' | t}}:</p>
                                                        <ul class="list-group list-group-flush" style="font-size: 10px; width: 420px;">
                                                            <li class="list-group-item" *ngFor="let keypair of keypairs"><span><i class="fa fa-address-book">{{keypair.publicKey}}</i></span><br/><span><i class="fa fa-key">{{keypair.secretKey}}</i></span></li>
                                                        </ul>
                                                    </div>

                                                    <kendo-excelexport [data]="data_export" [fileName]="file_name_export" #excelexport>     <kendo-excelexport-column       field="publicKey" [locked]="true" title="PUBLIC KEY" [width]="200">
                                                        </kendo-excelexport-column>
                                                        <kendo-excelexport-column       field="secretKey" [locked]="true" title="SECRET KEY" [width]="200">
                                                        </kendo-excelexport-column>
                                                    </kendo-excelexport>

                                                    <div class="md-block">
                                                        <button class="md-primary md-raised md-button md-ink-ripple upperCase" type="button" (click)="getKeys()" *ngIf="!isLoading && !isGen"><i class=" fa fa-random"></i>&nbsp;{{'generate' | t}}</button>
                                                        <div *ngIf="isLoading">
                                                            <div></div>
                                                        </div>
                                                        <input type="file" id="fileKeys" style="display:none;"/>
                                                        <button class="md-success md-raised md-button md-ink-ripple" type="button" (click)="downKeypairs(keypairs)" *ngIf="isGen"><i class="fa fa-download"></i>&nbsp;{{'download_csv' | t}}</button>
                                                        <button class="md-warn md-raised md-button md-ink-ripple" type="button" (click)="downExcel(keypairs)" *ngIf="isGen"><i class="fa fa-download"></i>&nbsp;{{'download_excel' | t}}</button>
                                                    </div>
                                                    <div class="md-block" *ngIf="isGen">
                                                        <div class="md-checkbox flex checkbox">
                                                            <input type='checkbox' name="isAgree" [(ngModel)]="stepData[1].data.isAgree">
                                                            <span>{{'skip_download_keypairs' | t}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layout-row">
                                            <div class="flex">
                                                <button class="md-button md-ink-ripple upperCase" type="button" (click)="moveToPreviousStep()">{{'back_' | t}}</button>
                                            </div>
                                            <div fclass="layout-align-end-stretch layout-row flex">
                                                <button class="md-warn md-button md-ink-ripple upperCase" (click)="cancel()">{{'cancel_' | t}}</button>
                                                <button (click)="nextStep()" class="md-primary md-raised md-button md-ink-ripple upperCase" type="submit" [disabled]="showBusyText || !isGen || !stepData[1].data.isAgree">{{'next_' | t}}</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div *ngIf="stepData[2].process">
                                <div>
                                    <form name="step2">
                                        <div class="md-padding">
                                            <div class="layout-align-center-center layout-column" style='min-height: 200px'>
                                                <h4 *ngIf="!isSetting">{{'auto_setting_wallet' | t}}</h4>
                                                <h4 *ngIf="isSetting">{{'auto_setting_wallet_done' | t}}</h4>
                                                <button class="md-primary md-raised md-button ng-scope md-ink-ripple" (click)="done()" [disabled]="!isSetting"><i class="fa fa-spinner fa-spin fa-2x fa-fw fz18 upperCase" *ngIf="!isSetting"></i>{{'all_done' | t}}</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal -->
<app-tfa-confirm-set-option-wallet [option_extra]="option_extra" (on_confirm)="onConfirmTfa($event)"></app-tfa-confirm-set-option-wallet>
